---
layout: page
subtitle: "The Official Blog Of Ihsan Gunawans."
description: "Hanya Petani Yang Berusaha untuk Selalu Menanam Kebaikan."
---

{% include adsense_index.html %}
<hr>

{% unless page.content == '' %}
  <p>{{ page.content }}</p>
{% endunless %}

{% unless site.tags[page.tag] | size > 0 %}
  <p>No posts found.</p>
{% endunless %}

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">
      Posted by 
      {% if post.author %}
        {{ post.author }}
      {% else %}
        {{ site.title }}
      {% endif %} 
      on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% include adsense_index_bottom.html %}
