<link href="{{site.url}}{{ site.baseurl }}/img/favicon/favicon.ico" rel="icon" type="image/x-icon">
    <link href="{{site.url}}{{ site.baseurl }}/img/favicon/XXXXXXXXX.png" rel="icon" sizes="32x32">
    <link href="{{site.url}}{{ site.baseurl }}/img/favicon/XXXXXXXXX.png" rel="icon" sizes="192x192">
    <link href="{{site.url}}{{ site.baseurl }}/img/favicon/XXXXXXXXX.png" rel="apple-touch-icon-precomposed">
    <meta content="{{site.url}}{{ site.baseurl }}/img/favicon/XXXXXXXXX.png" name="msapplication-TileImage">
