    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,minimum-scale=1,initial-scale=1" name="viewport">
    <link as="script" href="https://cdn.ampproject.org/v0.js" rel="preload"/>
    <link as="image" href="{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}" rel="preload"/>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" hreflang="x-default" rel="alternate"/>
    {% include favicon.html %}
    {% include open_graph.html %}
    {% feed_meta %}
<style amp-custom>
body{padding:0;margin:0;background: #141215;font-family:Sans-serif;}
* {margin:0;padding:0;}

.clear,.resik{clear:both} a:link{text-decoration:none}
  
header {background: #2e3239;border-radius: 0 0 100px 0;padding: 14px 40px 18px 18px;transform:translateY(0);transition:all .4s ease;left:0;position:fixed;top:0;z-index:999}
header h1 {padding: 0;font-size: 32px;margin: 0;}
header h1 a:link,header h1 a:visited{color: #D5BE9A;}
header p {font-size: 11px;padding: 0;margin: 0;color: #C3C2BC;} 

main {background: #141215;}
.gantipadding{height:81px;}

.enyong{float: left;clear: both;width: 515px;overflow: hidden;}
.enyong amp-img{width: 100%;height: auto;}
  
.isine {float: left;width: calc(100% - 515px);text-align: center;display: flex;flex-direction: column;justify-content: center;height: 440px;padding: 0 0 75px;}
.buntelisi{padding:0 36px 0 0;}
.isine p {margin: 0 0 10px;font-size: 32px;cursor: pointer;font-weight: bold;color: #B29D76;text-align: center;}
.isine a {color: #A19F96;cursor: pointer;font-size: 23px;line-height: 35px;display:block}
  
.memed{overflow: hidden;margin: 10px auto 0;padding: 0 36px 0 0;} 
#sos{background: #B29D76;width: 38px;border:2px solid #B29D76;height: 38px;border-radius: 50%;font-size: 22px;padding: 5px;line-height: 39px;text-align: center;float: left;margin: 5px;opacity:0.7;}
#sos:hover{opacity:1;}
.memed a{display:inline-block}

.kabeh{clear: both;width: 50%;margin: 0 auto 18px;}
.belog{position:relative;padding: 18px;color:#fff;display: block;text-align: center;background: #675437;border-radius: 30px;}
.belog:hover{background: #57452D;color: #E3E3E3;}
  
@media screen and (max-width:800px){
header h1 {font-size: 27px;}
header p {font-size: 10px;}
.gantipadding {height: 74px;}
.enyong {width: 400px;}
.isine {width: calc(100% - 400px);height: 335px;padding: 0 0 65px;}
.isine p {font-size: 27px;}
.isine a {font-size: 20px;line-height: 1.3em;}
#sos {width: 33px;height: 33px;}
.belog {padding: 16px 18px;}
}
@media screen and (max-width:640px){
header h1 {font-size: 20px;}
header p {font-size: 7px;}
.gantipadding {height: 62px;}
.enyong {width: 320px;}
.isine {width: calc(100% - 320px);height: 270px;padding: 0 0 50px;}
.isine p {font-size: 20px;}
.isine a {font-size: 17px;line-height: 1.2em;}
#sos {width: 27px;height: 27px;}
.belog {padding: 12px 18px;}
}  
@media screen and (max-width:480px){
header {padding: 18px 40px 18px 18px;}
header h1 {font-size: 27px;}
header p {display:none;}
.gantipadding {height: 67px;}
.enyong {width: 100%;}
.isine {width: 100%;height: auto;}
.buntelisi {padding: 0 18px;}
.isine p {font-size: 31px;}
.isine a {font-size: 21px;line-height: 1.3em;}
.memed {padding: 0;}
#sos {width: 38px;height: 38px;}
.kabeh {width: 70%;margin: 0 auto 30px;}
.belog {padding: 18px;}
}
@media screen and (max-width:360px){
header {padding: 15px 40px 15px 18px;}
.gantipadding {height: 59px;}
.isine p {font-size: 27px;}
.isine a {font-size: 20px;line-height: 1.2em;}
#sos {width: 33px;height: 33px;}
.kabeh {width: 80%;}
.belog {padding: 14px 18px;}
}
</style>
    <style amp-boilerplate='amp-boilerplate'>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate='amp-boilerplate'>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async src='https://cdn.ampproject.org/v0.js'></script>
