<nav>
<ul>
<li><a href="{{ site.baseurl }}/" title="Home">Beranda</a></li>
<li><a href="/blog/" title="Weblog">Blog</a></li>
<li><a href="/about/" title="About">Tentang</a></li>
<li><a href="/contact/" title="Contact">Kontak</a></li>
{% for page in site.pages %}{% if page.title %}
{% if page.url contains  "/tags/" or page.url contains  "/search" or page.url contains  "/thanks" or page.url contains  "/404" or page.url contains  "/contact" or page.url contains  "/about" %}
{% else %}
<li><a href="{{ page.url | prepend: site.baseurl }}" title="{{ page.title }}">{{ page.title }}</a></li>
{% endif %}{% endif %}{% endfor %}
<li><a href="#cari" title="Search">Cari</a></li>
</ul>
</nav>
