---
layout: default
---

<section id='page'>

<div class="site-endas">
<h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
<hr>
<span>{{ page.subtitle }}</span>
</div>

<!-- Main Content -->
<div class="container">
<div itemprop='image' itemscope='itemscope' itemtype='https://schema.org/ImageObject'>
  <meta content='{{site.url}}{{ site.baseurl }}/{% if page.image %}{{ page.image }}{% else %}{{ site.image }}{% endif %}' itemprop='url'/>
  <meta content='1280' itemprop='width'>
  <meta content='720' itemprop='height'>
</div>
<div itemprop='publisher' itemscope='itemscope' itemtype='https://schema.org/Organization'>
 <div itemprop='logo' itemscope='itemscope' itemtype='https://schema.org/ImageObject'>
  <meta content='{{site.url}}{{ site.baseurl }}/img/ihsangunawans_logo60.png' itemprop='url'/>
  <meta content='600' itemprop='width'>
  <meta content='60' itemprop='height'>
 </div>
<meta content='{{ site.title }}' itemprop='name'>
</div>

{{ content }}

</div>
</section>
